/* Change the background of the entire visible page */
body {
    background-color:rgb(173, 16, 20)
}

/* Style for all paragraphs */
p {
    color: dark red;
    font-size: 25px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 3px solid black; /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
alt='gakpo.jfif'width='100'>
    alt='gakpo.jfif'width='100'>
alt='casemiro.jfif'width='100'>
alt='Maguire goal'width='100'>
